h1 {
    color:rgb(230, 64, 211)
}

/* * {
    border: solid
}*/

.header{
    background-color: rgb(216, 191, 240);
    display: flex;
    justify-content: space-between;
    border: solid;
    border-color: #8A2BE2;
}

h1{
    border: solid;
    border-color: #8A2BE2;
}

.dados{
    border: solid;
    border-color: #8A2BE2; 
}


.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p, h2 {
    text-align: center;
}

body{
    background-color: #fcdefc;
}

.item img{
    width: 80%;
    height: 80%;
}

.item{
    position: relative;
}

.item h2{
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
    opacity: 0;
    color: black;
}

.item:hover h2{
    opacity: 1;
}

.item:hover img{
    opacity: 0.5;
}

a:link{
    color: white;
}

a:visited{
    color:aquamarine;
}


